{% extends "base_site.html" %}

{% block content %}

	<div style="background-image: url(/static/tasks/images/scanline2.png);">
	<hr class="top-hr"/>
    <div class="row">
      
	  <div class="large-6 large-centered columns">
      	<div class="panel callout">
		<p>Oops! Something went wrong. Try to register again.</p>
		</div>
		<div class="panel">
					<form enctype="multipart/form-data" action = "/accounts/register/" method = "post"> {% csrf_token %}
					<div class="row">
						<div class="large-12 medium-12 columns">
							  <label>Email Address</label>
							  <input id="id_email" value = "" name="email" type="text" placeholder="johnsmith@example.com" />
							  <label>First Name</label>
							  <input id="id_first_name" value = "" name="first_name" type="text" placeholder="John" />
							  <label>Last Name</label>
							  <input id="id_last_name" value = "" name = "last_name"type="text" placeholder="Smith" />
							  <label>Phone Number</label>
							  <input id="id_phone" value = "" name = "phone" type="text" placeholder="1234567890" />
							  <label> Profile Picture </label>
							  <input id="id_thumbnail" value = "" name="thumbnail" type="file">
							  <label>Password</label>
							  <input id="id_password1" value = "" name="password1" type="password" placeholder="password" />
							  <label>Confirm Password</label>
							  <input id="id_password2" value = "" name = "password2" type="password" placeholder="confirm password" />
							  <input class = "button" type = "submit" value = "Register"/>
						</div>
					</div>
					</form>    	
			</div>	
			</div>		
      	</div>
      </div>
	  <hr class="top-hr" />
{% endblock %}