{% extends "base_site.html" %}

{% block content %}
<div class="row">
    <div class="large-3 columns">
    	<h1><a href = "/"><img src="/static/chapters/images/d_header_logo.jpg"></a></h1>
    </div>
    <div class="large-9 columns">
    	<ul class="right button-group">
    		<li><a href="https://www.facebook.com/groups/thedialectic/" class="button">Facebook</a></li>
    		<li><a href="#" class="button">About</a></li>
    		<li><a href="/accounts/login" class="button">Sign In</a></li>
    		<li><a href="/accounts/register" class="button">Sign Up</a></li>
        </ul>
    </div>
</div>	

<div style = "margin-top: 35px;" class="row">
	<div class="large-7 large-centered columns">
	<h2 align = "center"> You are now logged out </h2>
	<p align = "center"> <a href = "/accounts/login"> Click here </a> to log back in </p>
	</div>
</div>
{% endblock %}