{% extends "base_site.html" %}

{% block content %}

{% if successful == False %}
	<div class = "row">
		<div class = "col-lg-8">
			<p style = "color: red"> There was a problem with your registration. Please try again.</p>
		</div>
	</div>
{% endif %}
	
<form align = "center" action = "/accounts/register/" method = "post"> {% csrf_token %}
	<div class = "row">
		<div class = "form-group">
			<label for = "first_name"> First Name </label> 
			{{form.first_name}}
		</div>
	</div>
	
	<div class = "row">
		<div class = "large-8 large-centered columns">
			<label for = "last_name"> Last Name </label> 
			{{form.last_name}}
		</div>
	</div>
	
	<div class = "row"> 
		<div class="large-8 large-centered columns">
			<label for = "email"> Email </label> 
			{{form.email}} 
		</div>
	</div>
		
	<div class = "row"> 
		<div class = "large-8 large-centered columns">
			<label for = "password"> Password </label> 
			{{form.password1}} 
		</div>
	</div>
	
	<div class = "row"> 
		<div class = "large-8 large-centered columns">
			<label for = "password_confirmation"> Confirm Password </label> 
			{{form.password2}}
		</div>
	</div>
	
	
	<div class = "row">
		<div class = "large-8 large-centered columns">
			<input style = "float: right;" class = "button" type = "submit" value = "Register"/>
		</div>
	</div>
</form>
{% endblock%}